<h1 mat-dialog-title>testando</h1>

<div mat-dialog-content>
  <form class="content" [formGroup]="formu">
    <div class="putImg">
      <img [src]="busc" />
      <input type="file" (change)="pegarImg($event)" />
    </div>

    <div class="putInfo">
      <mat-form-field class="larg">
        <mat-label >Titulo</mat-label>
        <input matInput formControlName="campoTit" placeholder="nome do produto"/>
      </mat-form-field>

      <mat-form-field class="larg">
        <mat-label>Textarea</mat-label>
        <textarea matInput formControlName="campoDesc" placeholder="adicione uma descrição do produto aqui"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button class="btn btn-small" >excluir item</button>
  <button class="btn btn-small" (click)="enviar()" >salvar item</button>
</div>
