
<div class="itemAdicionado" *ngFor="let item of items">
  <img [src]="item.img"/>
  <h3 class="titulo">{{item.nome}}</h3>
  <p class="desc">{{item.descricao}}</p>
  <button mat-icon-button (click)="editaProd()">
    <mat-icon>mode_edit</mat-icon>
  </button>
</div>

<div class="btnBall"  (click)="flyout()">
  <i class="material-icons">{{iconeBtn}}</i>
</div>

<div class="flyout" *ngIf="aberto">
  <a (click)="abrirPopup()">Criar Produto</a>
  <hr>
  <a (click)="selecProd()">Adicionar quantidade</a>
</div>
