.btnBall {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.btnBall i {
  position: fixed;
  right: 38px;
  bottom: 38px;
}

.flyout {
  position: absolute;
  right: 26px;
  bottom: 90px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.flyout a{
    width: 50%;
    margin-bottom: 5px;
    margin-left: 8px;
    cursor: pointer;
    display: inline-block;
}

hr{
  width: 90%;
  margin-top: 5px;
}

.itemAdicionado{
  display: flex;
  flex-direction: row;
  background-color: #000;
  color: white;
  border: 1px solid #007bff;
  width: 70%;
  height: 90%;
  border-radius: 10px;
  justify-content: center;
  margin-left: 50px;
  margin-top: 10px;
}

.itemAdicionado img{
  width: 20%;
  height: 20%;
  border-radius: 10px;
  margin: 10px 10px;
}

.titulo{
  font-size: 6vh;
}

.titulo, .desc{
  flex-direction: column;
}
