<mat-card class="example-card">
    <mat-card-header >
      <mat-card-title id="cardTilt">Material Acabando!!</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button class="closeTab" mat-icon-button>
        <mat-icon><img src="../../assets/fechaIcon.svg"></mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-content>
      <p>{{longText}}</p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header >
    <mat-card-title id="cardTilt">Sessão agendada!</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button class="closeTab" mat-icon-button>
      <mat-icon><img src="../../assets/fechaIcon.svg"></mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content>
    <p>{{longText}}</p>
  </mat-card-content>
</mat-card>

  
